<%- include("partials/header.ejs") %>

<h1>Bloggo</h1>
<form action="/submit" method="POST">
  <input type="text" name="title" placeholder="Title" />
  <textarea type="text" name="content" placeholder="Content">
  </textarea>
  <input type="submit" value="Submit" />
</form>
<% blogposts.forEach((post) => { %>
  <div id=<%= post.id %>>
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
    <button class="delete-button" type="button">Delete</button>
  </div>
<% }) %>

<%- include ("partials/footer.ejs") %>
    